.sidebarWrapper {
  border: solid grey 1px;
  border-radius: 8px;
  background-color: #262626;
  width: 300px;
  margin-bottom: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: transform 1s;
}

.sidebarWrapper:hover {
  transform: scale(1.05);
  background-color: #595959;
  opacity: 0.9;
}

.sidebarContainer {
  margin: 5px;
  height: auto;
  width: 300px;
  display: flex;
  padding: 2px;
  justify-content: center;
}

.playlist-name {
  color: white;
  font-size: 14px;
  font-family: "Helvetica Neue";
  text-align: center;
}

.linkPlaylist {
  text-decoration: none;
  text-transform: capitalize;
}

/* MEDIA QUERIES */
 /* Dekstop */
 @media (min-width: 992px) {

  .sidebarWrapper {
    margin-bottom: 0;
  }

  .linkPlaylist:hover {
    text-decoration: underline;
    color: white;
  }  
} 




 